.design-topic {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 45px;
}

.design-topic > h3 {
  margin: 0;
  color: green;
}

.design-topic > p {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
}

.copy-dlt-btn {
  display: flex;
  align-items: center;
}

.copy-dlt-btn > button {
    margin-right: 10px;
    height: 45px;
}

.copy-button {
  display: inline-block;
  border: 1px solid green;
}